body
{
background-image: url('background.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
padding:5%;
}



.container {
	margin: auto;
	margin-top: 10px;
	padding: 1%;
  background: rgba(0,0,0,0.8);
	color : rgba(255,255,255,0.7);
}

td,th
{
	color : rgba(255,255,255,0.7);
}

a:hover {
	color : rgba(255,255,255,1);
}

a {
  	color : rgba(255,255,255,0.7);
}

.windows {
	background: rgba(150,115,50,0);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	opacity:0;
	pointer-events: none;
}

.windows:target {
	opacity:1;
	pointer-events: auto;
}

.windows > div {

	width: 80%;
	background: rgba(220,220,220,0.9);
	border: 3px solid rgba(255,255,255,0.7);;
	color : rgba(0,0,0,0.8);
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
}
